/*
P, TD, TD P, CAPTION
  {  font-family:  Lucida, Verdana, Helvetica, Arial, sans-serif;
     font-size: x-small; 
  }
*/

.s_menu_hdr { 
  font-family: Verdana;  font-size: x-small; font-weight: bold; text-decoration:none;color:#000000;
}

.s_menu_subhdr { 
  font-family: Verdana;  font-size: x-small; font-weight: normal; text-decoration:none;color:#000000; 

}

.s_menu { 
  font-family: Verdana;  font-size: x-small; font-weight: normal; text-decoration:none;color:#696969; 
}